
.banner {
  margin-top: 0;
  padding: 100px;
 
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #131212;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;


}

.btnH {
  background-color: #f1d0f7;
  border-radius: 6px;
  width: 200px;
  height: 50px;
}

.nnn {
  margin-left: 50px;
}

.lll {
  margin-left: 100px;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner .im {
  animation: updown 3s linear infinite;
  width: 400px;
  float: right;
}



@keyframes updown {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}

@media screen and (max-width: 960px){
  .banner .im {
    animation: updown 3s linear infinite;
    width: 300px;
    float: right;
  }
}

.button {
  border-radius: 4px;
  background-color: #e778e2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button :hover{
  transition: all 1s ease-in-out;
	box-shadow: 0px 2px 18px #eee;
}

.btnH {
  width: 250px;
	height: 100px;
	background: #d4dce6 ;
	box-shadow: 0px 0px 10px #fff;
	border-radius: 2px;
	z-index: 4;
  top:45px;
  left:-20px;
	transition: all 1s ease-in-out;
}
a:hover .button{
	transition: all 1s ease-in-out;
	box-shadow: 0px 2px 18px #eee;
}